<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.dao.board-mapper">
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO onmuser VALUES(seq_no.NEXTVAL,#{email},#{nickname},#{pwd},SYSDATE,1)
	</insert>
	<!-- 회원가입 중복확인 -->
	<select id="confirmEmail" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM onmuser where email=#{email}
	</select>
	<!-- 로그인 Mapper (email,pwd Check) -->
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM onmuser WHERE email=#{email}
	</select>
	<!-- 로그인 시 Session에 저장할 값들을 가져오는 SQL -->
	<select id="logCheck" parameterType="User" resultType="User">
		SELECT no,nickname,pwd FROM ONMUSER WHERE email=#{email}
	</select>
	<!-- onm.jsp 호출시 list 출력 -->
	<select id="listSearch"  resultType="Olist" parameterType="int">
		SELECT title,html FROM onmlist WHERE userno=#{userno} ORDER BY no
	</select>
	<!-- 리스트 생성시 no 생성 -->
	<insert id="listInsert" parameterType="int">
		INSERT INTO onmlist VALUES(seq_ol.nextval,#{userno},'test','test')
	</insert>
	<!-- 리스트 성성시 생성된 no 가져가기 -->
	<select id="getListNo" resultType="int">
		SELECT MAX(no) FROM onmlist 
 	</select>
 	<!-- 리스트 성생시 정보 업데이트 -->
	<update id="listAdd" parameterType="Olist">
		UPDATE onmlist SET
		title=#{title},html=#{html} WHERE no=#{no}
	</update>
 	<!-- list 삭제 -->
	<delete id="listDelete" parameterType="int">
		DELETE FROM onmlist WHERE no=#{no}
	</delete>
	<!-- drag and drop 이벤트시 list 업데이트 -->
	<update id="dragEvent" parameterType="Olist">
		UPDATE onmlist SET	html=#{html} WHERE no=#{no}
	</update>

</mapper>