<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.dao.board-mapper">
	<sql id="where-no">
		WHERE no=#{no}
	</sql>
	<insert id="insertUser" parameterType="User">
		INSERT INTO ONMUSER VALUES(seq_no.NEXTVAL,#{email},#{nickname},#{pwd},SYSDATE,1)
	</insert>
	
	<!-- 회원가입 중복확인 -->
	<select id="confirmEmail" parameterType="String" resultType="int">
		SELECT COUNT(email) FROM ONMUSER where email=#{email}
	</select>
	
	<!-- 로그인 Mapper (email,pwd Check) -->
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM ONMUSER WHERE email=#{email}
	</select>
	
	<!-- 로그인 시 Session에 저장할 값들을 가져오는 SQL -->
	<select id="logCheck" parameterType="User" resultType="User">
		SELECT no,nickname,pwd FROM ONMUSER WHERE email=#{email}
	</select>

	<insert id="listInsert" parameterType="Olist">
		INSERT INTO onmlist VALUES(seq_ol.nextval,#{userno},#{title},#{html})
	</insert>
	
	<select id="listSearch"  resultType="Olist" parameterType="int">
		SELECT title,html FROM onmlist WHERE userno=#{userno}
	</select>
	
	<select id="getListNo" resultType="int">
		SELECT MAX(no)+1 FROM onmlist
 	</select>
 	
	<delete id="listDelete" parameterType="int">
		DELETE FROM onmlist WHERE no=#{no}
	</delete>
	
	
</mapper>








