<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "app.dtd">
<beans>
    <bean class="com.model.IntroModel" id="intro"/>
	<bean class="com.model.LoginOKModel" id="loginOK"/>
	<bean class="com.model.JoinOKModel" id="joinOK"/>
	<bean class="com.model.ListAddModel" id="listAdd"/>
	<bean class="com.model.EmailCheckModel" id="emailCheckOK"/>
	<bean class="com.model.EmailSaveOK" id="emailSaveOK"/>
	<bean class="com.model.EmailSaveGet" id="emailSaveGet"/>
</beans>
