<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "app.dtd">
<beans>
    <bean class="com.model.IntroModel" id="intro"/>
	<bean class="com.model.LoginOKModel" id="loginOK"/>
	<bean class="com.model.JoinOKModel" id="joinOK"/>
	<bean class="com.model.EmailCheckModel" id="emailCheckOK"/>
	<bean class="com.model.EmailSaveOKModel" id="emailSaveOK"/>
	<bean class="com.model.EmailSaveGetModel" id="emailSaveGet"/>
	<bean class="com.model.LogoutModel" id="logOut"/>
</beans>
